# Gradle
.gradle/
build/
# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
out
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej
